.main-body {
  background: beige;
  /*background: linear-gradient(to right, #fff3c9, #fff);*/
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

/*header*/

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.shrink {
  width: 130px;
  height: 40px;
  transition: 0.5s ease;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  width: 140px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s ease;
}

.nav-link {
  color: #172940;
  text-align: center;
  padding: 14px 5px;
  font-size: 17px;
  text-decoration: none;
}

.navbar-span-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.navbar-span-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: orange;
  transition: 0.3s ease-out;
}

li:hover .navbar-span-2 {
  transform: translateY(-50px);
}

.underline-effect::after {
  display: block;
  content: "";
  width: 0px;
  height: 2px;
  background: orangered;
  transition: 0.4s ease;
}

.underline-effect:hover::after {
  width: 100%;
}

#buttonMenu {
  display: none;
}
/* frontend view */
/*section*/

.title {
  height: 200px;
  color: #172940;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
  background: url("../images/logo.png");
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}

.title > h1 {
  font-family: "Montserrat Subrayada", sans-serif;
}

.title > p {
  margin-left: 105px;
  margin-top: -15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: orange;
}

.view-subtitle {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-subtitle-underline {
  position: relative;
  bottom: 30px;
  display: block;
  content: "";
  width: 180px;
  height: 8px;
  background-image: linear-gradient(
    to left,
    rgba(255, 69, 0, 0.4),
    rgba(255, 165, 0, 0.4)
  );
}

.first-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 130px;
  margin-bottom: 100px;
  z-index: 10;
  background-color: beige;
}

.first-section a {
  text-decoration: none;
  color: orange;
}

.view-image-size {
  width: 100px;
  height: 100px;
}

.view-images {
  width: 300px;
  height: 350px;
  position: relative;
  top: 50px;
  right: 235px;
}

.view-images > img {
  width: 300px;
  height: 345px;
  border: 2px solid whIte;
  border-radius: 10px;
  transition: 0.35s ease-in;
  transform: rotate(10deg);
}

.view-images > img:hover {
  border: 2px solid white;
  border-radius: 10px;
  transform: translateX(230px);
  transition: 0.35s ease-in;
}

.postView-images-size {
  border: 1px solid white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.postView-images > img:hover {
  width: 200px;
  height: 200px;
  border: 1px solid orangered;
  border-radius: 10px;
  transition: 0.35s ease-in;
}

.first-div-section {
  height: 350px;
  width: 300px;
  background-color: white;
  padding-left: 20px;
  margin: 50px 0px;
  border-radius: 10px;
  z-index: 1;
}

.containerSlide {
  height: 210px;
  overflow: hidden;
}

.slideText {
  margin-top: 205px;
  transition: transform 5s linear;
}

.first-div-section:hover .slideText {
  transform: translateY(-305px);
}

.fa-circle {
  font-size: 0.3em;
  position: relative;
  bottom: 8px;
}

/*frontend postView */
.postView-section {
  width: 600px;
  margin: auto;
}

.postView-div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.postView-div h2,
.postView-h3 {
  color: orangered;
}

.postView-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tox-tinymce {
  width: 100%;
}

.postView-input,
.postView-textarea {
  width: 100%;
  margin: 15px 0px;
  border-radius: 5px;
  border: none;
  transition: 0.25s linear;
}

.postView-input:focus,
.postView-textarea:focus {
  box-shadow: 0px 0px 8px orange;
}

.postView-input {
  height: 25px;
}

.postView-textarea {
  height: 80px;
}

.postView-btn-input {
  border-radius: 10px;
  color: orange;
  background-color: #172940;
  font-size: larger;
  height: 40px;
  width: 100%;
}

.accordion {
  margin-top: 50px;
  border-radius: 10px;
  color: orange;
  background-color: #172940;
  font-size: medium;
  height: 25px;
  width: 35%;
  cursor: pointer;
}

.is-open {
  color: orangered;
  transition: 0.5s linear;
}

.fa-plus,
.fa-minus {
  margin-left: 10px;
}

.postView-comment-div {
  margin-top: 15px;
  margin-left: 20px;
  height: 0;
  transition: height 0.5s linear;
  overflow: hidden;
  margin-bottom: 70px;
}

.postView-comment-author {
  color: orangered;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

.fa-circle {
  color: orangered;
  border: 1px solid #172940;
  border-radius: 50%;
}

.postView-comment-btn {
  border: none;
}

.postView-third-p {
  height: 30px;
  margin-top: -10px;
  margin-left: 20px;
  padding-top: 10px;
  border-bottom: 1px solid orangered;
  background-color: white;
}

.warning-comment {
  font-weight: bold;
  text-align: center;
  width: 165px;
}

.warning-underline {
  position: relative;
  bottom: 6px;
  display: block;
  content: "";
  width: 165px;
  height: 6px;
  background-image: linear-gradient(
    to left,
    rgba(255, 69, 0, 0.4),
    rgba(255, 165, 0, 0.4)
  );
}

/*login section*/

.login-section {
  width: 600px;
  margin: auto;
}

.login-form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 100%;
  height: 30px;
  margin: 15px 0px;
  border-radius: 5px;
  border: none;
  transition: 0.25s linear;
}

.login-input:focus {
  box-shadow: 0px 0px 8px orange;
}

.login-button {
  border-radius: 10px;
  color: orange;
  background-color: #172940;
  font-size: larger;
  height: 30px;
  width: 70%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1;
}

.footerShrink {
  height: 80px;
  background: white;
}

.footer-a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: orange;
  background-color: #172940;
  margin: 0 40px;
  box-shadow: 2px 2px 7px orange;
  transition: 0.5s ease;
  font-size: large;
  text-decoration: none;
}

.footer-a:hover {
  color: #172940;
  background-color: white;
}

.footer-a:hover .icon {
  transition: 0.5s ease;
  transform: scale(1.7) translate(9px, 9px);
}

footer > p {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: larger;
  border-top: 1px orangered solid;
}

/*Phone*/

@media screen and (max-width: 540px) {
  /*phone header*/
  #navbar {
    display: none;
  }

  #buttonMenu {
    display: flex;
    justify-content: flex-end;
  }

  #burger {
    margin: 15px 15px 0px 0px;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(
      to bottom left,
      orangered 30%,
      orange 50%
    );
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #172940;
  }

  .nav-link {
    display: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 4px;
    background-color: #172940;
    margin: 6px 0;
    transition: 0.4s;
  }

  .move .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .move .bar2 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .move .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .move .bar1 .nav-link,
  .move .bar2 .nav-link,
  .move .bar3 .nav-link,
  .move .bar4 .nav-link,
  .move .bar5 .nav-link {
    display: block;
    background-color: orange;
    border: #172940 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 20px;
    box-shadow: 1px 1px 7px #172940;
  }

  .move .bar1 .nav-link {
    transform: rotate(45deg) translateX(-290px) translateY(0px);
  }

  .move .bar2 .nav-link {
    transform: rotate(45deg) translateX(-200px) translateY(-10px);
  }

  .move .bar3 .nav-link {
    transform: rotate(-45deg) translateX(-80px) translateY(-12px);
  }

  .move .bar4 .nav-link {
    transform: rotate(0deg) translateX(-235px) translateY(30px);
  }

  .move .bar5 .nav-link {
    transform: rotate(0deg) translateX(-145px) translateY(-20px);
  }

  .nav-link i {
    position: relative;
    bottom: 2px;
    right: 1px;
  }

  .animate {
    animation: animationChange ease 1s forwards;
  }

  @keyframes animationChange {
    0% {
      width: 50px;
      height: 50px;
      background-color: rgba(23, 41, 64, 0.5);
      border-radius: 15%;
    }
    50% {
      background-color: rgba(23, 41, 64, 0);
      border-radius: 30%;
    }
    100% {
      background-color: rgba(23, 41, 64, 0);
      border-radius: 50%;
      box-shadow: none;
    }
  }

  /* phone frontend view */
  /*section*/

  .view-images {
    width: 80px;
    height: 80px;
    position: relative;
    top: -295px;
    left: 125px;
    z-index: 2;
  }

  .view-images > img {
    width: 80px;
    height: 80px;
  }

  .first-div-section {
    height: 200px;
    margin: 40px 35px;
  }

  .containerSlide {
    height: 50px;
  }

  .slideText {
    margin-top: 0px;
  }

  /*phone frontend postView */

  .postView-section {
    width: 320px;
    margin: auto;
  }

  .accordion {
    width: 60%;
  }

  /*phone login section*/

  .login-section {
    width: 320px;
    margin: auto;
  }

  .login-button {
    width: 100%;
  }

  .footer-a {
    margin: 0 25px;
  }

  footer > p {
    display: none;
  }
}
