.main-body {
  background: beige;
  /*background: linear-gradient(to right, #fff3c9, #fff);*/
}

/*header*/

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  z-index: 100;
}

.shrink {
  width: 130px;
  height: 40px;
  transition: 0.5s ease;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  width: 140px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s ease;
}

.nav-link {
  color: #172940;
  text-align: center;
  padding: 14px 16px;
  font-size: 19px;
  text-decoration: none;
}

.navbar-span-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: orange;
}

.navbar-span-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 25px;
  background-color: orange;
}

.navbar-span-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  transition: 0.3s ease-out;
}

li:hover .navbar-span-2 {
  transform: translateY(-50px);
}

.underline-effect::after {
  display: block;
  content: "";
  width: 0px;
  height: 2px;
  background: orangered;
  transition: 0.4s ease;
}

.underline-effect:hover::after {
  width: 100%;
}

/* frontend view */
/*section*/

.title {
  color: #172940;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
}

.view-subtitle {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  background: orange;
  border-radius: 50%;
  border: 1px solid orangered;
}

.circle::after {
  position: absolute;
  width: 85px;
  height: 4px;
  content: "";
  border-bottom: 1px solid orangered;
  margin-left: 11px;
}

.circle::before {
  position: absolute;
  width: 85px;
  height: 4px;
  content: "";
  border-bottom: 1px solid orangered;
  margin-left: -86px;
}

.first-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.first-section a {
  text-decoration: none;
  color: orange;
}

.view-image-size {
  width: 100px;
  height: 100px;
}

.view-images {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  box-shadow: 1px 2px 4px #172940;
  border-radius: 5px;
  position: relative;
  top: 20px;
  right: 100px;
}

.first-div-section {
  height: 250px;
  width: 400px;
  background-color: white;
  padding-left: 20px;
  margin: 50px 35px;
  border-radius: 10px;
}

.containerSlide {
  height: 125px;
  overflow: hidden;
}

.slideText {
  margin-top: 125px;
  transition: transform 5s linear;
}

.first-div-section:hover .slideText {
  transform: translateY(-305px);
}

.fa-circle {
  font-size: 0.3em;
  position: relative;
  bottom: 8px;
}

/*frontend postView */
.postView-section {
  width: 600px;
  margin: auto;
}

.postView-div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.postView-div h2,
.postView-h3 {
  color: orangered;
}

.postView-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.postView-input,
.postView-textarea {
  width: 100%;
  margin: 15px 0px;
  border-radius: 5px;
  border: none;
  transition: 0.25s linear;
}

.postView-input:focus,
.postView-textarea:focus {
  box-shadow: 0px 0px 8px orange;
}

.postView-input {
  height: 25px;
}

.postView-textarea {
  height: 80px;
}

.postView-btn-input {
  border-radius: 10px;
  color: orange;
  background-color: #172940;
  font-size: larger;
  height: 40px;
  width: 100%;
}

.accordion {
  margin-top: 50px;
  border-radius: 10px;
  color: orange;
  background-color: #172940;
  font-size: medium;
  height: 25px;
  width: 35%;
}

.postView-comment-div.is-open {
  display: block;
}

.fa-plus {
  margin-left: 10px;
}

.postView-comment-div {
  margin-top: 40px;
  margin-left: 20px;
  display: none;
}

.fa-circle {
  color: orangered;
  border: 1px solid #172940;
  border-radius: 50%;
}

.postView-comment-btn {
  border: none;
}

.postView-third-p {
  height: 30px;
  margin-left: 20px;
  padding-top: 10px;
  border-bottom: 1px solid orangered;
  background-color: white;
}

/*login section*/

.login-section {
  width: 600px;
  margin: auto;
}

.login-form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 100%;
  height: 30px;
  margin: 15px 0px;
  border-radius: 5px;
  border: none;
  transition: 0.25s linear;
}

.login-input:focus {
  box-shadow: 0px 0px 8px orange;
}

.login-button {
  border-radius: 10px;
  color: orange;
  background-color: #172940;
  font-size: larger;
  height: 30px;
  width: 50%;
}
